<div class="fixed-top">
    <div class="pt-5 bg-primary"></div>
    <div class="pt-2 bg-primary"></div>
  </div>
    <nav class="navbar fixed-top navbar-dark bg-primary" [ngStyle]="{'width': '250px'}" >
              <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link" href="/inspection-list">Obhliadky</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/regexcalculation">Regularne vyrazy kalkulacie</a>
                </li>
            </ul>
        </div>
    </nav>

