<div class="jumbotron">
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Inspection List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th> 
            <th>Číslo obhliadky</th>  
            <!--<th>Actions</th>  -->       
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inspection of inspections | async" (click)="inspectionDetails(inspection.nInspectionId)">
            <td>{{inspection.nInspectionId}}</td>
            <td>{{inspection.sInspectionNumber}}</td>            
          </tr>
        </tbody>
      </table>
      <button (click)="inspectionNew()" class="btn btn-danger">Nová</button>
    </div>
  </div>
</div>